{% extends 'base.html' %}
{% load thumbnail %}
{% load follow %}

{% block title %}Twitter Clone{% endblock %}

{% block extrascripts %}
<script>
$(function(){
	$("#tweet").submit(function(e){
		e.preventDefault();
		$.ajax({
			url: $(this).attr('action'),
			type: "post",
			data: $(this).serialize(),
			success: function(d) {
				$('#tweet')[0].reset();
				$('#posts').html(d);	
			},
			error: function(d){
				console.log(d);
			},
		});
		return false;
	});	
});
</script>
{% endblock %}

{% block content %}
	<table cellpadding="5" width="100%">
		<tr>

<!-- LEFT COLUMN -->
			<td valign="top" width="35%">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="clearfix">
							<div class="pull-left">
							{% thumbnail profile.pic "50x50" crop="bottom" as image %}
								<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
							{% empty %}
								<img src="/media/profile_pictures/generic-profile-pic.jpg" width="50" height="50" />
							{% endthumbnail %}
							</div>
							<div class="pull-left">
								<strong> &nbsp; {{ profile.user }}</strong>
								<br>
								<a href="{% url 'microblog:profile' %}"><span style="padding-left: 10px; font-size: .8em; color: #999999;">view profile</span></a>
							</div>
						</div>
					</div>	
					<table class="table">
						<tr>
							<td>
								<form method="POST" action="{% url 'microblog:addPost' profile.id %}" name="tweet" id="tweet">
									{% csrf_token %}
									{{ postForm.as_p }}
									<div class="clearfix" style="margin-top: 8px;">
										<button class="btn btn-primary pull-right">Post Message</button>
									</div>
								</form>
							</td>
						</tr>
					</table>
				</div>
				{% listProfiles %}
			</td>

<!-- RIGHT COLUMN -->
			<td valign="top">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Recent Posts</h3>
					</div>
					<table id="posts" class="table">
<!-- TWEETS START -->
{% for post in latestPosts %}
	<tr>
		<td>
			<div class="clearfix">
				<!--  IMAGE -->
				<div class="pull-left">
					{% thumbnail post.profile.pic "50x50" crop="center" as image %}
						<img src="{{ image.url }}">
					{% empty %}
						<img src="/media/profile_pictures/generic-profile-pic.jpg" width="50" height="50" />
					{% endthumbnail %}
				</div>
				<!-- POST -->
				<div class="pull-left" style="padding-left: 10px">
					<div>
						<a href="{% url 'microblog:detail' post.profile.user.id %}"><strong>{{ post.profile.user }}</strong></a>
					</div>
					<div>
						{{ post }}
					</div>
				</div>
				<!-- DATE -->
				<div class="pull-right">
					<span style="color: #999999; font-size: .75em;" class="pull-right">{{ post.pub_date }}</span>
				</div>
			</div>
		</td>
	</tr>
{% endfor %}
<!-- TWEETS END -->
					</table>
				</div>
			</td>
		</tr>
	</table>
{% endblock %}
