{% load thumbnail %}

{% for post in latestPosts %}
<table id="posts" class="table">
	<tr>
		<td>
			<div class="clearfix">
				<!--  IMAGE -->
				<div class="pull-left">
					{% thumbnail post.profile.pic "50x50" crop="center" as image %}
						<img src="{{ image.url }}">
					{% empty %}
						<img src="/media/profile_pictures/generic-profile-pic.jpg" width="50" height="50" />
					{% endthumbnail %}
				</div>
				<!-- POST -->
				<div class="pull-left" style="padding-left: 10px">
					<div>
						<a href="{% url 'microblog:detail' post.profile.user.id %}"><strong>{{ post.profile.user }}</strong></a>
					</div>
					<div>
						{{ post }}
					</div>
				</div>
				<!-- DATE -->
				<div class="pull-right">
					<span style="color: #999999; font-size: .75em;" class="pull-right">{{ post.pub_date }}</span>
				</div>
			</div>
		</td>
	</tr>
</table>
{% endfor %}

