{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block content %}
	<table cellpadding="5" width="100%">
		<tr>
<!-- LEFT COLUMN -->
			<td valign="top" width="35%">
				<div class="list-group">
					<div class="list-group-item">
						<div class="clearfix">
							<div class="pull-left">
							{% thumbnail myProfile.pic "50x50" crop="bottom" as image %}
								<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
							{% empty %}
								<img src="/media/profile_pictures/generic-profile-pic.jpg" width="50" height="50" />
							{% endthumbnail %}
							</div>
							<div class="pull-left">
								<strong> &nbsp; {{ myProfile.user }}</strong>
							</div>
						</div>
					</div>	
					<div class="list-group-item">		
						{% if following.count > 0 %}
							<strong>Following</strong>
						{% else %}
							<strong>Follow Someone!</strong>
						{% endif %}
					</div>		
					<!-- LIST OF FOLLOWING -->
					{% for user in following.all %}
						<a style="padding-left: 30px" class="list-group-item" href="{% url 'microblog:detail' user.id %}">{{ user }}<span class="pull-right"><strong>>></strong></span></a>
					{% endfor %}
				</div>
			</td>
<!-- RIGHT COLUMN -->
			<td valign="top">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>Profile for {{ myProfile.user }}</h3>
					</div>
			       <form enctype="multipart/form-data" action="{% url 'microblog:updateProfile' %}" method="POST" id="updateForm" name="updateForm">
						{% csrf_token %}
					<table class="table">
<!-- PROFILE START -->
						<tr>
							<td>
								{% thumbnail myProfile.pic "50x50" crop="bottom" as image %}
									<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
								{% empty %}
									<img src="/media/profile_pictures/generic-profile-pic.jpg" width="50" height="50" />
								{% endthumbnail %}
		
								{{ profileForm.as_p }}
							</td>
						</tr>
						<tr>
							<td class="text-center">
								<button type="submit" class="btn btn-primary">Update Profile</button>	
							</td>
						</tr>
<!-- PROFILE END -->
					</table>
					</form>
				</div>
			</td>
		</tr>
	</table>
{% endblock %}
